body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
}
header {
  background: linear-gradient(90deg, #0d6efd, #6610f2);
  color: white;
}
img {
  border: 4px solid #0d6efd;
}
button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
