body {
  background-color: #fdfdfd;
  font-family: 'Poppins', sans-serif;
}
h3 {
  font-weight: 600;
}
.list-group-item {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #e9ecef;
}
button {
  transition: 0.3s;
}
button:hover {
  transform: scale(1.05);
}
