body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.box1 {
  background: #3498db;
  width: 150px;
  height: 100px;
}

.box2 {
  background: #e67e22;
  width: 20%;
  min-height: 80px;
}

.box3 {
  background: #27ae60;
  width: 10em;
  height: 30vh;
  overflow: auto;
}
