body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #f9e79f;
  padding: 20px;
  border: 5px solid #f39c12;
  margin: 30px;
  outline: 2px dashed #d35400;
  width: 300px;
  box-sizing: content-box;
}
